@import url(css/utils.css);
*{
    margin: 0;
    padding: 0;
    
}
body{
    background: url('images/indexBg.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100vw;
    
}
div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div label{
    font-family: var(--font1);
    color: var(--white);
    font-size: 5vw;
}
input[type="text"]{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    outline: none;
    border-color: var(--white);
    font-size: 18px;
    color: var(--white);
    padding: 0px 0px 5px 5px;
    position: relative;
}
input[type="submit"]{
    margin: 5px 0px 0px 0px;
    height: 25px;
    width: 225px;
    font-size: 10px;
}
input[type="submit"]:hover{
   cursor: pointer;

}

