
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+Bhai+2:wght@500&family=Kalam:wght@700&family=Lilita+One&family=Pacifico&family=Rajdhani:wght@300&family=Roboto&family=Ubuntu:wght@300&display=swap');

:root{
    --font1: 'Rajdhani', sans-serif;
    --font2: 'Ubuntu', sans-serif;
    --white: #ffffff;
    --size-heading : 2vw;
    --size-font: 1vw;
    --size-mobile-font: 10vw;
    --font-mobile-px : 8px;
    --font-mobile-heading : 10px;
}